.div{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    height: 300px;
    width: 500px;
    background-color: rgb(205, 214, 101);
    margin-left:35%;
    margin-top: 10%;
}
.ds{
    align-self: center;
    display: flex;
    justify-content: center; 
}
.first{
    margin:10px;
    background-color: green;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
}
.second{
    margin: 10px;
    background-color: red;
    width:100px;
    padding:10px;
    border-radius: 20px;
}