.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-img {
    max-width: 70%;
    height: 100;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 15px;
}

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
